@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@300;400;600;700&display=swap');


body {
  font-family: 'Winky+Sans', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

nav {
  border-bottom: 1px solid black;
}

.navbar-items {
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  display: flex;
  /* color: #777; */
  padding: 0 3px;
}

.form {
  width: 60%;
  margin: 0 auto;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}


.moreoptions-items {
  width: 200px;
  height: 300px;
  /* overflow: hidden; */
  background-color: darkslategray;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

.moreoptions-toggle {
  height: 30%;
  /* margin: 0px 0px 20px 0px; */
}

.option-item {
  min-width: 100px;
  /* margin-left: 20px; */
  margin-bottom: 30px;
  background-color: #fff;
}

.moreoptions-hidden {
  display: none;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}


.signup {
  display: flex;
  width: 100%;
}

.signup select{
  width: 100%;
  margin-right: 20px;
}