
body {
    background-color: #6e2154;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


h2 {
    border: 5px solid #68edff;
}

canvas {
    border: 3px solid rgb(255, 96, 96);
}

.myCanvas {
    border: 3px solid rgb(83, 152, 255);
}

.canvas-container p {
    background-color: rgb(241, 162, 255);
}


.top-section {
    display: flex;
}

.book-Shelf {
    margin: 0px 10px; /*(top-bottom left-right) around self*/
    padding: 10px 10px; /*within self*/
  
    background-color: #933b72;
    min-width: 600px;

    flex-grow: 2;
    /* border: 5px solid #e5e5e5; */
}



.navbar {
    height: 80px;
    background-color: rgb(58, 122, 251);
    /* margin: 10px 10px; */
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-and-clear {
    height: 100px;
    padding: 10px 10px;
    margin-bottom: 30px;
    background-color: rgb(159, 88, 121);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxes .container {
    /* height: 600px; */
    width: 600px;
    /*padding: 5px;*/ /*within self*/
    background-color: #86c8d3;
    margin: 0;
    padding: 0;

    /* display: flex; */
    /* justify-content: center; */
}

.canvas-container {
    background-color: rgb(203, 206, 255);
    /* margin: 5px; */ /*around self*/
}

.para-container {
    background-color: rgb(0, 251, 113);
}

.box {
    flex: 1;
    background: #cc0ab9;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

/* .boxes .container .box:nth-of-type(1) {
    background-color: rgb(53, 86, 102); 
    flex-grow: 2;
}

.boxes .container .box:nth-of-type(2) {
    background-color: rgb(48, 179, 255);
} */

.boxes .container .canvas-li-div{
    background-color: rgb(255, 179, 235);
}

/* .boxes .container .chart_container{
    background-color: #ffa584;
} */

/*Not sure if the search bar needs any styling*/

/*Not sure if the table needs any styling*/